.btn-dimension {
    width: 100px;
    height: 40px;
    left: 120px;
    top: 595px;
    background-color: #1890ff;
    border-radius: 4px;
    color: #fff;
    border-color: #1890ff;
    border: 1px solid;
    font-size: 17px;
}
