.search-container {
    background: #f5f5f5;
    border-radius: 8px;
    margin-top: 55px;
    margin-left: 90px;
    margin-right: 100px;
    padding: 25px 25px 25px 30px;
    width: 1251px;
    height: 387px;
    display: flex;
}

.card-image {
    width: 284px;
    height: 280px;
    background: #d9d9d9;
    margin-bottom: 15px;
    margin-right: 45px;
}

.search-labels {
    display: flex;
    margin-bottom: 10px;
}

.form-content {
    width: 870px;
    height: 247px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 15px 15px 15px;
}

.text-form-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1890ff;
    margin-bottom: 20px;
}

.input-form-content {
    width: 840px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 5px;

}
