.main-nav {
    height: calc(60px - 15px);
    background: #1890ff;
    align-items: center;
    padding-left: 40px;
    padding-top: 15px;
}

.text-nav {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
